@font-face {
   font-family: 'haettenschweiler_[allfont.es]';
   src: url('haettenschweiler_[allfont.es]/font.ttf');
}
@font-face {
   font-family: 'Cinematografica-Regular-trial';
   src: url('Cinematografica-Regular-trial/font.ttf');
}
